<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="/users/new">Add user</a>

  <% if(users.length) { %>
    <% users.forEach(user => { %>
    
      <a href="/users/<%= user._id %>">
        <h3><%= user.name %></h3>
      </a>
      <a href="/users/<%= user.id %>/delete">delete</a>
    <% }) %>
  <% } else { %>
    <h2>No Users available</h2>
  <% } %>
  
</body>
</html>